* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    color: gold;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    align-items: center;
}

/* header a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
} */

.navBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}

nav img {
    height: 50px;
    border-radius: 50%;
}

h1 {
    color: gold;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-left: 20px;
}

li a {
    color: #fff;
    text-decoration: none;
}

#loja {
    background: url(img/wallpaper.png) no-repeat;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px black;
}

.lojaContent {
    max-width: 700px;
}

.lojaContent h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

footer {
    background-color: lightgray;
    color: #fff;
    text-shadow: 2px 2px black;
}